{% load static %}

<!-- Billing Note -->
<section class="">
  <div class="mx-auto">
    <div class="bg-[#FDEA00] py-6">
      <div class="flex items-center justify-center gap-3">
        <svg
          class="w-6 h-6 text-[#011E41]"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
          ></path>
        </svg>
        <p class="text-[#4A5A70] text-center leading-relaxed">
          <span class="font-semibold text-[#011E41]"
            >Preços tudo incluído:</span
          >
          IVA, deslocações, materiais e proteção da plataforma incluídos. Apenas
          pagamento seguro online.
        </p>
      </div>
    </div>
  </div>
</section>
